{%extends 'base.html'%}
{% load static %}

{% block content%}

            <div class="destination-item-wrapper">
              <div class="row">
                    <img class="img-background" src="static/images/empty.jpeg" alt="" >

                        <div class="subtitle">

                          <div class = 'col-md-6 m-auto'>
                            <form class="" action ="{% url 'problems:question'%}" method="GET" autocomplete="off">

                          <div class = "form-group" >

                             {% csrf_token %}
                            <input type="text" id='id_input' name ='search_item' class ='form-control form-control-lg' placeholder= 'your next travel destination'>
                            <input type="hidden" id = 'hidden_input' name="item" value="">



                          </div>

                            </form>
                          </div>
                        </div>
                          </div>
                      </div>



          <div class="container">

            <p>The Earth is a wellspring of amazing places and fascinating cultures. It is such a shame that we only have one life to explore everything that's out there. There is a bundle of new experiences, feelings and human behaviors waiting just behind the door. Pack your things and go with the flow. It will take you far, far away, it will bring the real you to the surface, it will completely change your life.</p>

            </div>
            <br>


<div class="content-wrapper">
      <div class="row portfolio-items-wrapper">

        <div class="col-sm-4 portfolio-item-wrapper select1">
          <div class="portfolio-img-background" style= "background-image: url(static/images/balloon.jpeg)"></div>
          <div class="">Turkey</div>


        </div>
        <div class="col-sm-4 portfolio-item-wrapper select1">
          <div class="portfolio-img-background" style= "background-image: url(static/images/hills.jpeg)"></div>
          <div class="">Switzerland</div>

        </div>
        <div class="col-sm-4 portfolio-item-wrapper select1">
          <div class="portfolio-img-background" style= "background-image: url(static/images/snow.jpeg)"></div>
          <div class="">Switzerland</div>

        </div>
     </div>
</div>
<br>
<br>


  {% endblock %}
